# LAN Music Office & Game Zone Pro Realtime Configuration
PORT=3000

# Telegram Bot Token (Tạo tại @BotFather)
TELEGRAM_BOT_TOKEN=8853363855:AAF5cNwYh9Dj3JprWrvh5eZ6kESZJ-ECMuI

# Telegram Group Chat ID (ID nhóm chat có @HiFiAudiobot)
TELEGRAM_CHAT_ID=-5022971494
