# Node dependencies
node_modules/
package-lock.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
Thumbs.db
.DS_Store

# Temporary & editor folders
.vscode/
.idea/
.system_generated/
scratch/
